body 
    position: fixed
    margin: 0
    padding: 0.5em
    top: 0
    left: 0
    bottom: 0
    right: 0

.hq-flex-container
    height: 100%
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: flex-start
    align-content: stretch
    align-items: stretch

.hq-drop-area // flex-expanding-item
    order: 0
    flex: 1 1 auto
    align-self: auto
    height: 100%
    overflow: auto

.hq-drop-area--file-over
    //background-color: lightgray

.hq-drop-area_prompt
    font-size: large
    color: gray
    height: 100%
    width: 100%
    display: table
    div
        vertical-align: middle
        display: table-cell
        text-align: center

.hq-drop-area_video-details p
    margin-bottom: 0

.hq-buttons-panel
    margin-top: 0.5em
    align-self: flex-end

.hq-drop-area_video
    padding-right: 0
    video
        width: 100%

.hq-remove-button
    display: none
    position: absolute
    top: 0.5em
    right: 0.5em
    padding: 0.3em 0.7em

.hq-drop-area_file:hover .hq-remove-button
    display: block

.hq-drop-area_overriden
    text-decoration: line-through

.hq-file_container
    height: 100%
    overflow: auto

.hq-file_form
    // Otherwise the video can get too large.
    max-width: 1200px

.hq-file_buttons
    padding: 0.5em 0

.hq-file_prev
    margin-right: 0.3em

label + .radio
    margin-top: 5px