<div class="hq-flex-container">


  <section
    class="hq-drop-area"
    fileDrop
    [ngClass]="{'hq-drop-area--file-over': filesAreOver}"
    [allowedExtensions]="allowedExtensions"
    (filesOver)="onFilesOver($event)"
    (filesDrop)="onFilesDrop($event)"> 
    
    <div *ngIf="!files.length" class="hq-drop-area_prompt">
      <div>Drop files here</div>
    </div>

    <div *ngIf="files.length" class="list-group">
      <a class="list-group-item hq-drop-area_file"
        *ngFor="let file of files; let idx = index"
        [routerLink]="[ '/file', idx ]">
        <div class="row">
          <div class="col-md-2 col-xs-3 hq-drop-area_video">
            <video
              [id]="'file_' + idx"
              [src]="'file://' + file.path"
              preload="metadata"
              data-setup="{}">
            </video>
          </div>
          <div class="col-md-10 col-xs-9 hq-drop-area_video-details">
            <p>{{file.name}}</p>
            <p>{{file.size}}</p>
          </div>
        </div>
        <div class="btn btn-danger hq-remove-button" (click)="removeFile(idx)">
          <span class="glyphicon glyphicon-trash"></span>
        </div>
      </a>
    </div>

  </section>
  <button
    class="btn btn-primary hq-create-button"
    *ngIf="files.length"
    (click)="createQueue()">
    Create queue
  </button>
</div>