<div class="container-fluid hq-file_container">
    <form class="hq-file_form">
        <div class="row">
            <div class="col-xs-12">
                <a
                    class="btn btn-default"
                    routerLink="/drop-area">
                    Back
                </a>
            </div>
            <div class="col-xs-8 col-md-10" style="margin-top: 7px">
                <video
                    id="video"
                    class="video-js vjs-fluid vjs-16-9"
                    controls>
                </video>
            </div>
            <div class="col-xs-4 col-md-2">
                <div class="form-group">
                    <label class="control-label">Rotate</label>
                    <div class="radio">
                        <label>
                            <input name="rotate" type="radio" [value]="0" [(ngModel)]="file.config.rotate">No
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input name="rotate" type="radio" [value]="-90" [(ngModel)]="file.config.rotate">&ndash;90 degrees
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input name="rotate" type="radio" [value]="90" [(ngModel)]="file.config.rotate">90 degrees
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input name="rotate" type="radio" [value]="180" [(ngModel)]="file.config.rotate">180 degrees
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top:20px"></div>

        <div class="form-group">
            <label class="control-label" for="sourcePath">Source path</label>
            <input name="sourcePath" id="sourcePath"
                class="form-control"
                type="text"
                disabled
                [value]="file.path">
        </div>
        <div class="form-group">
            <label class="control-label" for="targetPath">Target path</label>
            <input name="targetPath" id="targetPath"
                class="form-control"
                type="text"
                [(ngModel)]="file.config.targetPath">
        </div>
        <div class="form-group">
            <label class="control-label" for="segment">Segment</label>
            <div id="segment" class="input-group">
                <span class="input-group-addon">From</span>
                <input name="segmentFirst" type="number"
                    style="width: 3em"
                    [(ngModel)]="file.config.segment.firstSecond">
                till
                <input name="segmentLast" type="number"
                    style="width: 3em"
                    [(ngModel)]="file.config.segment.lastSecond">
                second.
            </div>
        </div>

        <div class="row hq-file_buttons">
            <div class="col-xs-12">
                <a
                    class="btn btn-default"
                    routerLink="/drop-area">
                    Back
                </a>
                <button
                    class="btn btn-primary pull-right"
                    [disabled]="!canGoNext()"
                    (click)="next()">
                    Next
                </button>
                <button
                    class="btn btn-default pull-right hq-file_prev"
                    [disabled]="!canGoPrev()"
                    (click)="prev()">
                    Prev
                </button>
            </div>
        </div>
    </form>
</div>