<div class="container-fluid hq-file_container">
    <form class="hq-file_form">
        <div class="row">
            <div class="col-xs-8 col-md-10">
                <video
                    id="video"
                    class="video-js vjs-fluid vjs-16-9"
                    controls>
                </video>
            </div>
            <div class="col-xs-4 col-md-2">
                <div>
                    <strong>Rotate:</strong>
                    <br/>
                    <input name="rotate" type="radio" [value]="0"  [(ngModel)]="file.config.rotate">No<br/>
                    <input name="rotate" type="radio" [value]="-90" [(ngModel)]="file.config.rotate">-90 degrees<br/>
                    <input name="rotate" type="radio" [value]="90" [(ngModel)]="file.config.rotate">90 degrees<br/>
                    <input name="rotate" type="radio" [value]="180" [(ngModel)]="file.config.rotate">180 degrees
                </div>
                <div class="hq-file_preset">
                    <strong>Preset:</strong>
                    <br/>
                    <input name="preset" type="radio" [value]="1" [(ngModel)]="file.config.preset">{{getPresetName(1)}}<br/>
                    <input name="preset" type="radio" [value]="2" [(ngModel)]="file.config.preset">{{getPresetName(2)}}<br/>
                    <input name="preset" type="radio" [value]="3" [(ngModel)]="file.config.preset">{{getPresetName(3)}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="hq-file_target-path">
                    <strong>Target path:</strong>
                    <input name="targetPath" type="text"
                        [(ngModel)]="file.config.targetPath">
                </div>
                <div class="hq-file_segment">
                    <strong>Segment:</strong>
                    <span>{{getSegmentInfo()}}</span>
                    <br />
                    From <input name="segmentFirst" type="number"
                        style="width: 4em"
                        [(ngModel)]="file.config.segment.firstSecond">
                    till <input name="segmentLast" type="number"
                        style="width: 4em"
                        [(ngModel)]="file.config.segment.lastSecond">
                    second.
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col-xs-12">
                <a
                    class="btn btn-primary pull-right hq-file_back"
                    routerLink="/drop-area">
                    Back
                </a>
            </div>
        </div>
    </form>
</div>